@media screen and (min-width: 601px) {
  .btn-container {
    padding: 10px 2px;
  }

  .bills-layout {
    padding: 0 40px;
  }

  .bill-sub-title-container {
    font-size: 20px;
    margin-right: 50px;
  }

  .bill-price-container {
    max-width: 270px !important;
  }

  .price-to-pay-container {
    border: solid 1px #e5e8ee !important;
    border-radius: 6px;
    padding: 20px;
    background-color: #f4f7ff;
    margin: 5px 0 10px 0;
    max-width: 750px;
    height: 130px;
  }

  .calc-btn {
    width: 100%;
    max-width: 180px;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }

  .bills-input-container {
    padding-left: 10px !important;
  }

  .bills-input {
    padding: 12px 15px;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    width: 100%;
    /* height: 10px; */
    max-width: 280px;
    border: solid 1px #919191;
  }
}

@media screen and (max-width: 600px) {
  .bills-layout {
    padding: 0 10px;
  }

  .bill-sub-title-container {
    font-size: 20px;
  }

  .bill-price-container {
    max-width: 270px;
  }

  .price-to-pay-container {
    padding: 10px 15px;
    border: solid 1px #e5e8ee !important;
    border-radius: 6px !important;
    background-color: #f4f7ff;
    margin-bottom: 15px;
  }

  .calc-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
  }

  .bills-input {
    padding: 12px 15px;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    width: 100%;
    border: solid 1px #919191;
    margin-bottom: 10px;
  }

  .btn-container {
    padding: 2px;
  }
}

.bill-title-container {
  margin: 10px 0 15px 0;
}

.text-space {
  margin-left: 8px;
}

.bill-ils-title {
  font-size: 16px;
}

.bill-title {
  font-size: 42px;
  font-weight: bolder;
  color: black;
  letter-spacing: 1.5px;
}

.ltr {
  direction: ltr !important;
}

/* .bill-tenant-row-container {
  direction: ltr;
} */

.input-label {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.bill-price-label {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.disabled-bg {
  background-color: #e2e2e2;
}

.unit-text {
  padding: 0 5px;
  font-size: 14px;
}

.electric-bg {
  background-color: #ff9800;
}

.water-bg {
  background-color: #4099ff;
}

.save-calc-bg {
  background-color: #00d600;
}

.recalc-bg {
  background-color: #ff0000;
}
