@media screen and (min-width: 601px) {
  .create-form-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f4f7ff;
    min-height: 100vh;
  }

  .create-form-postion {
    margin-top: 3%;
    width: 50%;
    min-width: 1000px;
  }

  .form-box {
    background-color: white;
    border-radius: 12px;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .file-btn {
    border: dashed 3px #0080ff !important;
    background-color: white !important;
    color: #0080ff !important;
    font-family: "Rubik", sans-serif !important;
    box-shadow: none !important;
    padding: 20px !important;
  }

  .file-btn :hover {
    background-color: #0b6efe !important;
    visibility: visible !important;
  }

  .upload-image-btn-text {
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
  }

  .upload-image-btn-subtext {
    font-size: 18px;
    font-weight: bold;
    color: #919191;
  }

  .upload-image-btn-position {
    height: 100%;
    padding: 0.5% 0;
  }

  .upload-doc-btn-position {
    height: 100%;
    padding: 4% 4% 5% 4%;
  }

  .files-container {
    overflow: auto !important;
    max-height: 380px !important;
    padding: 10px !important;
  }

  .user-image {
    border-radius: 8px;
    cursor: pointer;
  }

  .user-active-image {
    border-radius: 8px;
    border: solid 3px #809fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 601px) {
  .form-box {
    background-color: white;
    padding: 30px 20px;
  }

  .image-carousel {
    border-radius: 8px;
    border: 2px solid black;
    overflow-x: hidden;
    cursor: pointer;
  }

  .file-btn {
    border: dashed 3px #b3b2b2 !important;
    background-color: white !important;
    color: #0080ff !important;
    font-family: "Rubik", sans-serif !important;
    box-shadow: none !important;
    padding: 15px !important;
    margin-bottom: 10px !important;
  }

  .upload-image-btn-text {
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
  }

  .upload-image-btn-subtext {
    font-size: 18px;
    font-weight: bold;
    color: #919191;
  }

  .carousel-action-btns {
    border-radius: 8px !important;
    border: solid 2px white !important;
    margin-top: 8px !important;
    background-color: #0b6efe !important;
    color: white !important;
  }

  .file-btn-carousel {
    font-size: 22px !important;
    color: white !important;
    box-shadow: none !important;
    background-color: #0b6efe !important;
    font-family: "Rubik", sans-serif !important;
    border-radius: 8px !important;
  }

  .upload-image-btn-position {
    margin-bottom: 15px;
  }

  .upload-doc-btn-position {
    padding: 20px 10px !important;
  }

  .files-container {
    padding: 10px 20px !important;
  }

  /* .image-carousel {
    padding: 10px 0;
  } */

  .user-image {
    border-radius: 8px;
    cursor: pointer;
    height: 300px;
    width: 100%;
  }

  .user-active-image {
    border-radius: 8px;
    border: solid 3px #809fff;
    cursor: pointer;
    /* height: 300px;
    width: 100%; */
  }

  .carousel-btn-icon {
    margin: 5px 10px !important;
    color: white !important;
  }

  .prev-image-carousel {
    /* transform: rotate3d(0, 1, 0, 30deg); */
    border-radius: 8px;
    height: 100%;
    overflow-x: hidden;
    cursor: pointer;
  }

  .next-image-carousel {
    transform: rotate3d(0, 1, 0, -30deg);
    border-radius: 8px;
    overflow-x: hidden;
    height: 100%;
    cursor: pointer;
  }

  .active-image-carousel {
    border: solid 3px #809fff;
  }

  .remove-image-carousel-pos {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .remove-btn-carousel {
    background-color: #dc3545 !important;
    border-radius: 8px !important;
    border: solid 1px white !important;
    font-family: "Rubik", sans-serif !important;
    font-size: 18px !important;
    font-weight: bolder !important;
  }
}

.carousel-icon-btn {
  background-color: #0b6efe !important;
  color: white !important;
  border: white 2px solid !important;
  padding: 10px !important;
}

.carousel-btn {
  font-size: 30px !important;
}

.create-grid-layout {
  height: 80vh !important;
}

.stepper-btn {
  text-transform: capitalize !important;
  font-size: 20px !important;
  height: 40px !important;
  font-family: "Rubik", sans-serif !important;
  width: 150px !important;
  border-radius: 8px !important;
  color: #809fff !important;
  background-color: white !important;
  font-weight: 700 !important;
  border: solid 3px #809fff !important;
  padding: 25px !important;
}

.stepper-btn:disabled {
  color: #80a0ff98 !important;
  background-color: rgb(239, 239, 239) !important;
  border: solid 3px #80a0ff98 !important;
}

.text-end {
  text-align: end !important;
}

.text-start {
  text-align: start !important;
}

.h-600 {
  height: 600px;
}

.create-form-layout {
  /* padding: 2% 3%; */
}

.padding-files-btn {
  padding-left: 50px !important;
}

.relative {
  position: relative;
}

.block {
  display: block;
  margin-bottom: 5px;
}

.remove-btn {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.remove-icon {
  color: white !important;
  background-color: #ff4d4d !important;
  border-radius: 50% !important;
}

.remove-pos {
  position: absolute;
  top: -25px;
  right: -25px;
}

.active-image-text {
  color: #1a75ff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.files-container-edit {
  overflow: auto !important;
  padding: 10px !important;
}

.padding-img {
  padding: 5px 10px !important;
}

.add-images-btn {
  padding: 33px !important;
  background-color: #0b6efe !important;
  border: solid 2px white !important;
  margin-bottom: 5px !important;
}

.add-btn {
  background-color: #809fff !important;
  color: white !important;
  font-size: 45px !important;
  border: solid 3px white !important;
  border-radius: 50% !important;
}

.sub-page-title {
  font-size: 42px;
  font-weight: 700;
  margin: 12px 0;
}

.padding-creates-form {
  padding: 0 3%;
}

.close-form-btn {
  margin: -10px 0 0 -20px !important;
}
