@media screen and (min-width: 601px) {
  .home-action-btn {
    font-size: 24px !important;
    color: white !important;
    background-color: #0b6efe !important;
    border: solid 2px white !important;
    font-family: "Rubik", sans-serif !important;
    font-weight: bolder !important;
    height: 60px !important;
    border-radius: 8px !important;
    max-width: max-content;
    padding: 0 20px !important;
  }

  .welcome-title {
    text-align: start;
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0;
  }

  .dashboard-card-layout {
    border-radius: 4px;
    color: white;
    padding: 4.5%;
  }

  .home-page {
    margin: 10px 30px;
  }

  .dashboard-card-icon {
    text-align: end !important;
  }

  .dashboard-card-body-text {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    text-align: center;
  }

  .apartment-card-btn-icon {
    font-size: 32px !important;
  }

  .card-action-btn-edit {
    background-color: white !important;
    color: #0080ff !important;
    border: solid 3px #0080ff !important;
  }

  .card-action-btn-delete {
    background-color: white !important;
    color: #e90404 !important;
    border: solid 3px #e90404 !important;
  }
}

@media screen and (max-width: 601px) {
  .dashboard-card-layout {
    border: 2px solid white !important;
    border-radius: 8px;
    color: white;
    white-space: nowrap;
  }

  .home-page {
    margin: 10px 0;
  }

  .welcome-title {
    text-align: start;
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0 12px 0;
  }

  .dashboard-card-icon {
    display: none;
  }

  .home-action-btn {
    font-size: 20px !important;
    color: white !important;
    background-color: #0b6efe !important;
    font-family: "Rubik", sans-serif !important;
    height: 50px !important;
    border-radius: 8px !important;
  }

  .dashboard-card-body-text {
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
  }

  .drawer-dashboard-body {
    margin: 20px !important;
  }

  .hide-dashboard-mobile {
    display: none !important;
  }

  .apartment-card-btn-icon {
    font-size: 24px !important;
  }

  .card-action-btn-edit {
    background-color: white !important;
    color: #0080ff !important;
    border: solid 2px #0080ff !important;
  }

  .card-action-btn-delete {
    background-color: white !important;
    color: #e90404 !important;
    border: solid 2px #e90404 !important;
  }
}

.top-card-title-en {
  margin: 0 10px !important;
  font-size: 22px !important;
  font-weight: 700;
}

.top-card-title-he {
  margin: 0 10px !important;
  font-size: 22px !important;
  font-weight: 700;
}

.rtl {
  direction: rtl !important;
}

.home-layout-en {
  min-height: 100vh;
  direction: ltr !important;
}

.home-layout-he {
  min-height: 100vh;
  direction: rtl !important;
}

.dashboard-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
}

.body-card-design {
  border-radius: 0px !important;
  margin-bottom: 5px !important;
  font-size: 14px !important;
  border: solid 2px white !important;
  color: white !important;
  margin-bottom: 10px !important;
  min-width: 100% !important;
}

.apartment-card-btn {
  font-size: 20px !important;
  /* border-radius: 0 !important; */
  /* color: white !important; */
  color: #444444 !important;
  font-weight: bolder !important;
  font-family: "Rubik", sans-serif !important;
}

.card-btn-container {
  padding: 0 50px !important;
  border-top: #7f858e solid 1px !important;
  /* border-bottom: #7f858e solid 1px !important; */
}

.button-bg-delete {
  background-color: #e90404 !important;
}

.button-bg-view {
  background-color: #0080ff !important;
}

.button-bg-edit {
  background-color: #ff9900 !important;
}

.apartment-card-icon {
  font-size: 36px !important;
  margin: auto !important;
  /* color: white !important; */
  color: #7f858e !important;
}

.bg-red {
  /* background-color: #ff5370 !important; */
  background-color: #e90404 !important;
}

.bg-yellow {
  /* background-color: #ffb64d !important; */
  background-color: #ff9900 !important;
}

.bg-blue {
  /* background-color: #4099ff !important; */
  background-color: #0080ff !important;
}

.bg-green {
  /* background-color: #2dd8b6 !important; */
  background-color: #15b37a !important;
}

.color-red {
  color: #ff5370 !important;
}

.color-yellow {
  color: #ffb64d !important;
}

.color-blue {
  color: #4099ff !important;
}

.color-green {
  color: #319e88 !important;
}

.tenants-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-family: "Rubik", sans-serif;
  color: black;
}

.global-btn {
  border-radius: 0px !important;
  margin-bottom: 5px !important;
  font-size: 14px !important;
  border: solid 2px white !important;
  color: white !important;
  margin-bottom: 10px !important;
}

.side-nav-text {
  font-weight: 700;
  color: white;
}

.side-nav-divider {
  margin: 30px 0 !important;
  border-color: white !important;
}

.side-nav-logo-part {
  margin-top: 70px;
  text-align: center;
}

.side-nav-icons-container {
  margin: 15% 0;
}

.side-nav-icons-space {
  margin: 30px;
  text-align: center;
}

.black-divider {
  margin: 10px !important;
  background-color: black !important;
}

.apartment-card-actions {
  margin: -5px 20px 5px 20px;
  text-align: center;
}

.circle-index-carousel {
  font-size: 20px !important;
}

.side-menu-bg {
  position: fixed;
  width: 12.5%;
  min-height: 100vh;
  background-color: #0080ff;
}

.card-container {
  background-color: rgba(179, 203, 235, 0.578);
}

.apartment-card {
  color: black;
  background-color: #f4f7ff;
  border-radius: 12px;
}

.apartment-card-body {
  padding: 20px;
}

.apartment-card-title {
  font-size: 24px;
  font-weight: bolder;
}

.apartment-card-subtitle {
  font-size: 18px;
  margin-top: 2px;
}

.apartment-card-details {
  margin-top: 4px !important;
  font-family: "Rubik", sans-serif !important;
  font-size: 18px !important;
}

.card-bg-img {
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
  cursor: pointer;
}

.card-action-btn-space {
  margin-left: 15px !important;
}
